<!DOCTYPE HTML>
<html>
    <head>
        <title>VRRoulette</title>

        {% load staticfiles %}

        {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% endblock %}

        {% block js %}
        <script src="script.js"></script>
        {% endblock %}

    </head>

    <body>
    <img src="media/images/mount-tower.jpg"/>
        <div id="container" >
            <div id="header">
                {% block header %}
                {% include "wheel/header.html" %}
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}
                <h3>Super App</h3>
                {% endblock %}
            </div>
            <div id="footer">
                {% block footer %}
                {% include "wheel/footer.html" %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>