<!DOCTYPE HTML>
<html>
    <head>
        <title>VRRoulette</title>


        {% load staticfiles %}

        {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% endblock %}

        {% block js %}
        {% endblock %}

        <link href='https://fonts.googleapis.com/css?family=Oswald:400, 300, 700' rel='stylesheet' type='text/css'>

    </head>

    <body>
        <div id="content">
            <div id="header">
                {% block header %}
                {% include "wheel/header.html" %}
                {% endblock %}
            </div>

            {% block content %}
            <h3>Super App</h3>
            {% endblock %}
        </div>

        <div class="clear"></div>
        
        <div id="footer">
            {% block footer %}
            {% include "wheel/footer.html" %}
            {% endblock %}
        </div>
    </body>
</html>